.Not_Found_h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
    margin-top: 0;
    margin-left: 20px;
    padding-top: 20px;
}

.Not_Found_h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 20px;
}