.Register_Password {
    display: inline-block;
}

.Register_Email {
    display: inline-block;
}

.Register_Function {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

.Register_Button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 20px;
    display: inline-block;
}

.RegisterErrorMessage {
    display: block;
}

.Register_Input {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}